.highlights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: "blue.500";
    margin-top: 7%;
}

.card{
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: row;
    flex-basis: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}